<div class="container">

    <h4 class="sub-header">Users > {{$ctrl.user.name.first}} {{$ctrl.user.name.last}}</h4>
    <div class="row">
        <div class="col-md-5 main">
            <img class="user-images"
                 ng-src="https://thumbs.dreamstime.com/x/stress-concept-exhausted-businessman-work-44859217.jpg"
                 alt="{{user.name.last}}"><br>
            <button class="btn-info change-photo">Change photo</button>
        </div>
        <form name="userForm" ng-submit="$ctrl.submitForm(userForm.$valid)" ng-class="{'has-error' : userForm.name.first.$invalid && !userForm.name.first.$pristine}" novalidate>
            <div class="input-group col-md-5 main">
                Name: * <br>
                <input ng-model="$ctrl.user.name.first" ng-required="true" type="text" class="input-sm"
                       name="$ctrl.name.first" placeholder="Name" ng-minlength="3" ng-maxlength="8"><br>
                <p ng-show="userForm.name.first.$error.minlength" >Name is too short.</p>
                <p ng-show="userForm.name.first.$error.maxlength" >Name is too long.</p>
                Surname: * <br>
                <input ng-model="$ctrl.user.name.last" ng-required="true" type="text" class="input-sm"
                       name="$ctrl.name.last" placeholder="Surname"><br>
                E-mail: <br>
                <input ng-model="$ctrl.user.email" type="email" class="input-sm" name="$ctrl.email"
                       placeholder="e-mail">

                <!--<div>-->
                Description: <br>
                <input ng-model="$ctrl.user.about" type="text" name="$ctrl.about" class="input-sm"
                       placeholder="Something about you...?"><br>
                <button ng-click="$ctrl.setDetail(user)" type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Save</button>
                <button class="btn-success"><a href="index.html">Cancel</a></button>
                <!--</div>-->
            </div>
        </form>
    </div>
</div>