h3 {
  color: forestgreen; }

h2 {
  color: brown; }

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px; }

a {
  background-color: transparent; }

li.thumbnail > img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 20px; }

.user-images {
  display: block;
  max-width: 300px;
  max-height: 300px; }

button.change-photo {
  display: block; }

input.ng-invalid {
  background-color: pink; }

input.ng-valid {
  background-color: lightgreen; }

form.ng-pristine {
  background-color: lightblue; }

form.ng-dirty {
  background-color: pink; }
