h3 {
  color: forestgreen;
}

h2 {
  color: brown ;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

a {
  background-color: transparent;
}

//.thumb {
//  position: absolute;
//}

a.thumb > img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 20px ;
}

.user-images {
  float: left;
  max-width: 300px;
  max-height: 300px;
}

button.change-photo {
  display: block;
}
