<div class="col-md-10 main">
    <h4 class="sub-header" >Users</h4>
    <button class="btn" ng-click="$ctrl.dataHunt()">RELOAD USERS</button>
    <div class="row placeholders">
        <div class="row">
            <input type="text" ng-model="$ctrl.searchValue"/>
            <button ng-click="$ctrl.searchUser()" class="btn">Search</button>
            <a href="#!/users/newUser"><button class="btn" >Add user</button></a>
        </div>
    </div>
    <div class="row">
        <!--<pre>{{ $ctrl.users | json }}</pre>-->
        <ul class="users">
            <li ng-repeat="user in $ctrl.users | filter: $ctrl.filterProp | orderBy: $ctrl.sortProp" class="thumbnail">

                <img ng-src="https://thumbs.dreamstime.com/x/stress-concept-exhausted-businessman-work-44859217.jpg"
                     alt="{{user.name.first}}_{{user.name.last}}"/>

                <a href="#!/users/{{user.id}}"> {{user.name.first}} {{user.name.last}}</a>
                <p>{{user.email}}</p>
                <a href="#!/users/{{user.id}}" class="thumb">
                    <button class="navbar-btn" >Edit</button>
                </a>
                <button class="navbar-btn" ng-click="$ctrl.deleteUser(user)" >Del</button>
            </li>
        </ul>
        <button class="btn-success" ng-click="">Pagination</button>
    </div>
    <!--<button class="btn-success">SOME BUTTON</button>-->
</div>