<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h4 class="sub-header">Users</h4>
    <div class="row placeholders">
        <div class="row">
            <input type="text" ng-model="$ctrl.orderProp"/>
            <button ng-click="$ctrl.searchUser()" class="btn">Search</button>
            <button class="btn">Add user</button>
        </div>
    </div>
    <div class="row">
        <!--<pre>{{ $ctrl.users | json }}</pre>-->
        <ul class="users">
            <li ng-repeat="user in $ctrl.users | filter: $ctrl.filterProp | orderBy: $ctrl.sortProp" class="thumbnail">
                <a href="#!/Users/{{user.name.last}}" class="thumb">
                    <img ng-src="https://thumbs.dreamstime.com/x/stress-concept-exhausted-businessman-work-44859217.jpg" alt="{{user.name.last}}"/>
                </a>
                <a href="#!/Users/{{user.name.last}}">{{user.name.first}} {{user.name.last}}</a>
                <p>{{user.email}}</p>
                    <button class="navbar-btn" ng-click="">Edit</button>
                    <button class="navbar-btn" ng-click="">Del</button>

            </li>
        </ul>
    <button class="btn-success">Pagination</button>
    </div>
    <!--<button class="btn-success">SOME BUTTON</button>-->
</div>